<!DOCTYPE html>

<html>
<head>
<title>Adrian Yang's Website</title>

<style>
.names {
  font-size: 36pt;
  background-color: Aqua;
</style>
{% extends 'base' %}
  
{% block content %}
</head>
  
<body>
<div class='names__'>
  <h1>Hello! </h1>
  <p>I am Adrian Yang</p>
  <p>I also like to play soccer and do python, here are my projects:</p>
  
  <ul>
    <li> <a href="https://scratch.mit.edu/users/AdrianYang/">this is my scratch profile!!</a> </li>
    <li> <p>click this to visit my github account</p> </li>
    <li> <a href="https://github.com/adrianyang2012"><img src="Ei-sc-github.svg_.png"></a> </li>
    <li> <a href="https://adrianyang2012.github.io/repos.html">here are all my projects!<a/> </li>
  </ul>
    
</div>
  
</body>
</html>
